parameters:
    level: 8
    paths:
        - src
        - tests
        - http-kernel-fixtures
        - web-fixtures
    checkMissingIterableValueType: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
