parameters:
    level: 9
    paths:
        - src
        - tests
        - http-kernel-fixtures
        - web-fixtures

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
